html,
body {
    overflow-x: hidden;
}


@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a:hover {
    text-decoration: none;
}


/**
 * Site header
 */

.intro {
    font-size: 48px;
    padding-bottom: 75px;
    font-weight: 800;

    @include media-query($on-palm) {
        font-size: 30px;
        padding-bottom: 50px;
    }
}

.name {
    color: $brand-color;
}

.site-header {
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
    margin-top: 50px;
}

.site-title {
    font-size: 30px !important;
}

.page-content {
    @include media-query($on-palm) {
        padding: 50px 0 !important;
    }
}


.text {
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;
}

.page-link {
    color: $brand-color;

    &:hover {
        color: #eb5f5d;
    }
}

.small-header {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}



@media screen and (max-width: 750px) {
    iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }

    .page-link {
        font-size: 13px;
    }
}

.centered-subhead {
    font-size: 14px;
}
}
