html,
body {
    overflow-x: hidden;
}


@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a:hover {
    text-decoration: none;
}


/**
 * Site header
 */

.intro {
    font-size: 48px;
    padding-bottom: 75px;
    @include media-query($on-palm) {
        font-size: 30px;
        padding-bottom: 50px;
    }
}

.name {
    color: $brand-color;
}

.site-header {
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
    margin-top: 50px;
}

.site-title {
    font-size: 30px !important;
}

.page-content {
    @include media-query($on-palm) {
        padding: 50px 0 !important;
    }
}

.site-nav {
    line-height: 56px;
    font-weight: 700;

    @include media-query($on-palm) {
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        top:0;
        text-align: center;
    }
}

.page-link {
    color: $text-color;
    line-height: $base-line-height;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
        margin-right: 20px;
    }
    &:visited {
        color: $text-color;
    }
}

.right {
    text-align: right;
    
     @include media-query($on-palm) {
        text-align: center;
    }
}



/**
 * Site footer
 */

.site-footer {
    padding: 25px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */

.page-content {
    padding: 50px 0;
}

.page-heading {
    font-size: 20px;
}

.subhead {
    color: $brand-color;
    text-transform: uppercase;
}

.centered-subhead {
    font-family: "europa",sans-serif;
    font-weight: 700;
    color: #403B57;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    
    &:first-child {
        margin:0;
    }
}

/* work list on homepage */

.box {
    height: 401px;
}

.box-hover {
    opacity: 0.3;
}

.jetblue {
    background: #0058AF;
    overflow-y: hidden;
    &>img {
        margin: 50px auto;
        display: block;
        max-width: 436px;
        padding: 0 20px;
        max-width: 80%;
    }
}

.way {
    background: #9F9CAF;
    overflow-y: hidden;
    &>img {
        margin: 50px auto;
        display: block;
        padding: 0 20px;
        max-width: 80%;
    }
}

.illustration {
    background: #9BDBF1;
    overflow-y: hidden;
    &>img {
        @include vertical-align();
        display: block;
    }
}

.photo {
overflow-y: hidden;
    @include media-query($on-palm) {
        height: 100%;
    }
}

.dow {
    background: #E80033;
    &>img {
        @include vertical-align();
        margin: 0 auto;
        display: block;
        max-width: 80%;
    }
}

.motion {
    background: #000;
    overflow-y: hidden;
    &>img {
        @include vertical-align();
        display: block;
    }
}

.di {
    background: #E84C13;
    &>img {
        @include vertical-align();
        margin: 0 auto;
        display: block;
    }
}

.dailyui {
    @include media-query($on-palm) {
        height: 100%;
    }
}


/* work pages */
.h2 {
    font-weight: 700;
}
.photo-list h1 {
    display: inline-block;
    margin: 0 15px 15px 0;
    & a {
        text-decoration: none;
        color: $text-color;
    }
    @include media-query($on-palm) {
        font-size: 24px;
    }
}

.masonry-layout {
    column-count: 2;
    column-gap: 15px;
    & img {
        break-inside: avoid;
        margin-bottom: 15px;
    }
    @include media-query($on-palm) {
        column-count: 1;
    }
}



/*about*/

button {
    padding: 15px 0;
    width: 150px;
    background: #403B57;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background .2s;
    & a {
        font-family: europa, sans-serif;
        color: #fff;
        font-size: 16px;
        &:hover {
            color: #fff;
        }
    }
    &:hover {
        background: darken( $button-color, 10%);
    }
}
.center {
    text-align: center;
}

form {
        display: inline-block;
}

/* jetblue images */

.jb {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

hr {
    margin-bottom: 20px;
    height: 5px;
    background-color: $grey-color-light;
    border: none;
}

@media screen and (max-width: 750px) {
    iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
    
    .centered-subhead {
        font-size: 14px;
    }
}